doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/javascripts/onload.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/film-card.css')
    link(rel='stylesheet', href='/stylesheets/film-detail.css')
    link(rel='stylesheet', href='/stylesheets/bank-card.css')
    link(rel='stylesheet', href='/stylesheets/footer.css')
    link(rel='stylesheet', href='/stylesheets/hall.css')
  body
    div(class="content")
      a(href='/' class="cinema-header") Kek Cinema
      div(class='container-fluid')
        div(class='row')
          div(class='col-sm-1')
            block sidebar
          div(class='col-sm-10')
            block content
          div(class='col-sm-1')
            block sidebar
    footer(class="footer")
      nav(class="footer__nav")
        ul(class="nav-list")
          li(class="nav-list__item")
              a(class="link" href="") О компании
          li(class="nav-list__item")
              a(class="link" href="") Контакты
      aside(class="footer__copyright") ООО &laquo;Kek Cinema&raquo; 
        br 
        p 2020
    script(src='/javascripts/scripts.js')
        
